build
node_modules
npm-debug.log
target
node
src/_tmp
static
dist
coverage
.nyc_output
.tmp
.DS_Store
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/rekit_example.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/jsLibraryMappings.xml
.idea/libraries/tables_node_modules.xml
.idea/typescript-compiler.xml
.idea/tables.iml
.idea/watcherTasks.xml
.idea/vcs.xml
